<div
  class="filters mr-8"
  x-data="
    {
      loading: false
    }
  "
  @filter-updated.window="
    $nextTick(()=>{
      const form = new FormData($refs.filter_form);
      const queryString = new URLSearchParams(form).toString();
      loading = true;
      fetch('/collections/{{ collection.handle }}?'+queryString)
      .then(response => response.text())
      .then(data => {
          let html_div = document.createElement('div');
          html_div.innerHTML = data;
          let html_dom  = html_div.querySelector('#ProductGridContainer').innerHTML;
          document.querySelector('#ProductGridContainer').innerHTML = html_dom;
          history.replaceState(null, null, '?'+queryString)
      })
      .catch(error=> console.error('Error:', error))
      .finally(() => loading = false)

    })
  "
>
  <h3 class="font-semibold border-b pb-3 mb-3">Filters</h3>
  {% render 'loader' %}
  <form class="filter-form divide-y" x-ref="filter_form">
    {%- for filter in collection.filters -%}
      <details class="filter-group py-3" open>
        <summary class="flex items-center justify-between">
          <div>
            <span class="font-semibold">{{ filter.label }}</span>

            {%- if filter.active_values.size > 0 -%}
              <span>({{ filter.active_values.size }})</span>
            {%- endif -%}
          </div>
          <span> {% render 'icon-arrow-right', class: 'w-6' %} </span>
        </summary>

        <div>
          {%- case filter.type -%}
            {%- when 'boolean' -%}
              <ul>
                <li>
                  <label for="Filter-{{ filter.param_name }}-{{ filter.true_value.value }}">
                    <input
                      type="checkbox"
                      name="{{ filter.param_name }}"
                      value="{{ filter.true_value.value }}"
                      id="Filter-{{ filter.param_name }}"
                      {% if filter.true_value.active -%}
                        checked
                      {%- endif %}
                      {% if filter.true_value.count == 0 and filter.true_value.active == false -%}
                        disabled
                      {%- endif -%}
                    >
                    {{- filter.true_value.label -}}
                  </label>
                </li>
                <li>
                  <label for="Filter-{{ filter.param_name }}-{{ filter.false_value.value }}">
                    <input
                      type="checkbox"
                      name="{{ filter.param_name }}"
                      value="{{ filter.false_value.value }}"
                      id="Filter-{{ filter.param_name }}"
                      {% if filter.false_value.active -%}
                        checked
                      {%- endif %}
                      {% if filter.false_value.count == 0 and filter.false_value.active == false -%}
                        disabled
                      {%- endif %}
                    >
                    {{- filter.false_value.label -}}
                  </label>
                </li>
              </ul>

              <div class="flex justify-end">
                <input type="submit" value="Apply" class="border bg-black text-white py-3 px-4">
              </div>
            {%- when 'list' -%}
              <ul>
                {%- for filter_value in filter.values -%}
                  <li>
                    <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                      <input
                        type="checkbox"
                        class="mr-2"
                        @change="$dispatch('filter-updated')"
                        name="{{ filter_value.param_name }}"
                        value="{{ filter_value.value }}"
                        id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                        {% if filter_value.active -%}
                          checked
                        {%- endif %}
                        {% if filter_value.count == 0 and filter_value.active == false -%}
                          disabled
                        {%- endif %}
                      >
                      <span>
                        {%- case filter_value.display.type -%}
                          {%- when 'colors' -%}
                            {% liquid
                              assign size_limit = filter_value.display.value.size | at_most: 4
                              assign rotation = '0deg'
                              if size_limit == 2
                                assign rotation = '45deg'
                              endif

                              assign angle_increment = 360 | divided_by: size_limit
                              assign angle = 0
                            %}
                            {%- capture conic_gradient -%}
                            {%- for color in filter_value.display.value limit: size_limit -%}
                              {{ color }} {{ angle }}deg{%- assign angle = angle | plus: angle_increment %} {{ angle }}deg{%- unless forloop.last %}, {%- endunless -%}
                            {%- endfor -%}
                          {%- endcapture -%}
                            <span
                              style="
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});
                              "
                            ></span>
                          {%- when 'image' -%}
                            {{
                              filter_value.display.value
                              | image_url: width: 25
                              | image_tag: alt: filter_value.display.value.alt
                            }}
                          {%- else -%}
                            <span class="visual-display__child"></span>
                        {%- endcase -%}
                      </span>
                      {{ filter_value.label }}
                    </label>
                  </li>
                {%- endfor -%}
              </ul>

              <div class="flex justify-end">
                <input type="submit" value="Apply" class="border bg-black text-white py-2 px-4">
              </div>
            {%- when 'price_range' -%}
              <div class="filter-group-display__price-range flex justify-between items-center">
                <div class="filter-group-display__price-range-from">
                  <label for="Filter-{{ filter.min_value.param_name }}">From</label>
                  <div>
                    <span>{{ cart.currency.symbol }}</span>

                    <input
                      name="{{ filter.min_value.param_name }}"
                      id="Filter-{{ filter.min_value.param_name }}"
                      {% if filter.min_value.value -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                      {%- endif %}
                      type="number"
                      placeholder="0"
                      min="0"
                      class="border py-2 px-3"
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                    >
                  </div>
                </div>
                <div class="filter-group-display__price-range-to">
                  <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                  <div>
                    <span>{{ cart.currency.symbol }}</span>

                    <input
                      name="{{ filter.max_value.param_name }}"
                      id="Filter-{{ filter.max_value.param_name }}"
                      {% if filter.max_value.value -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                      {%- endif %}
                      type="number"
                      placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                      min="0"
                      class="border py-2 px-3"
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                    >
                  </div>
                </div>
              </div>

              <div class="filter-group-display__submit flex justify-end my-3">
                <input type="submit" value="Apply" class="border bg-black text-white py-2 px-4">
              </div>
          {%- endcase -%}
        </div>
      </details>
    {%- endfor -%}
  </form>
</div>
