{%- if section.settings.enable_shop_login_button == false -%}
  {%- assign hide_shop_login_button = true -%}
{%- endif -%}

<div class="customer login border border-gray-200 bg-slate-300 flex align-middle gap-5 p-10 h-100 mt-10">
  <div class="flex justify-center items-center flex-col w-full">
    <div class="w-1/3">
      <div x-data="{ isLogin: true }">
        <div x-show="!isLogin" class="flex mb-10 mt-10 w-full flex-col ">
          <h1 class="text-3xl pt-8">
            {{ 'customer.recover_password.title' | t }}
          </h1>
          <p class="text-2xl pt-5">
            {{ 'customer.recover_password.subtext' | t }}
          </p>

          {%- form 'recover_customer_password' -%}
            {% assign recover_success = form.posted_successfully? %}
            <div class="field flex mb-10 mt-10 flex-col">
              <input
                type="email"
                value=""
                name="email"
                class="p-5 order-2 w-full border border-black focus:border focus:border-black"
                id="RecoverEmail"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="RecoverEmail-email-error"
                  autofocus
                {% endif %}
                placeholder="{{ 'customer.login_page.email' | t }}"
              >
              <label for="RecoverEmail" class="order-1 pt-5 w-full">
                {{ 'customer.login_page.email' | t }}
              </label>
            </div>
            {%- if form.errors -%}
              <small id="RecoverEmail-email-error" class="form__message">
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{ form.errors.messages.form }}
              </small>
            {%- endif -%}
            <div class="flex justify-between">
              <button class="border border-black p-3 hover:bg-black hover:text-white">
                {{ 'customer.login_page.submit' | t }}
              </button>

              <a href="#login" @click="isLogin = true" class="border border-black p-3 hover:bg-black hover:text-white">
                {{ 'customer.login_page.cancel' | t }}
              </a>
            </div>
          {%- endform -%}
        </div>

        <div x-show="isLogin" class="mb-10 mt-10">
          <h1 id="login" class="text-4xl text-center mb-10" tabindex="-1">
            {{ 'customer.login_page.title' | t }}
          </h1>
          {%- if recover_success == true -%}
            <h3 class="form__message" tabindex="-1" autofocus>
              <span class="svg-wrapper">
                {{- 'icon-success.svg' | inline_asset_content -}}
              </span>
              {{ 'customer.recover_password.success' | t }}
            </h3>
          {%- endif -%}
          {%- form 'customer_login', novalidate: 'novalidate' -%}
            {%- if form.errors -%}
              <h2 class="form__message" tabindex="-1" autofocus>
                <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
                <span class="svg-wrapper w-24">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{ 'templates.contact.form.error_heading' | t }}
              </h2>
              {{ form.errors | default_errors }}
            {%- endif -%}

            {%- if shop.features.login_with_shop_classic_customer_accounts? -%}
              <section name="sign-in-with-shop-provider">
                {{ shop | login_button: hide_button: hide_shop_login_button }}

                {%- unless hide_shop_login_button -%}
                  <p>
                    {{ 'customer.login_page.alternate_provider_separator' | t }}
                  </p>
                {%- endunless -%}
              </section>
            {%- endif -%}

            <div class="field flex mb-4 w-full flex-col">
              <input
                type="email"
                name="customer[email]"
                id="CustomerEmail"
                class="order-2 w-full p-3"
                autocomplete="email"
                autocorrect="off"
                autocapitalize="off"
                {% if form.errors contains 'form' %}
                  aria-invalid="true"
                {% endif %}
                placeholder="{{ 'customer.login_page.email' | t }}"
              >
              <label for="CustomerEmail" class="order-1 w-1/4">
                {{ 'customer.login_page.email' | t }}
              </label>
            </div>

            {%- if form.password_needed -%}
              <div class="field flex mb-4 w-full flex-col">
                <input
                  type="password"
                  value=""
                  name="customer[password]"
                  id="CustomerPassword"
                  class="order-2 w-full p-3"
                  autocomplete="current-password"
                  {% if form.errors contains 'form' %}
                    aria-invalid="true"
                  {% endif %}
                  placeholder="{{ 'customer.login_page.password' | t }}"
                >
                <label for="CustomerPassword" class="order-1 w-1/4">
                  {{ 'customer.login_page.password' | t }}
                </label>
              </div>
            {%- endif -%}

            <a href="#recover" @click="isLogin = !isLogin" class="hover:text-black hover:underline">
              {{ 'customer.login_page.forgot_password' | t }}
            </a>
            <div class="flex justify-between mt-10">
              <button class="border border-black p-3 hover:bg-black hover:text-white">
                {{ 'customer.login_page.sign_in' | t }}
              </button>

              <a
                href="{{ routes.account_register_url }}"
                class="border border-black p-3  hover:bg-black hover:text-white"
              >
                {{ 'customer.login_page.create_account' | t }}
              </a>
            </div>
          {%- endform -%}
        </div>
      </div>

      {%- if shop.checkout.guest_login -%}
        <div>
          <hr>
          <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

          {%- form 'guest_login' -%}
            <button>
              {{ 'customer.login_page.guest_continue' | t }}
            </button>
          {%- endform -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_shop_login_button",
      "label": "t:sections.main-login.shop_login_button.enable",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
